{% include 'home.html' %}
{% load static %}



{% block body %}

   <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form class="desgin2" action="{% url 'changepassword' %}" method="post">
        <h3>Change Password</h3>
            {% csrf_token %}

          <label for="password">Old Password</label>
        <input type="password" placeholder="Enter Old password" name="old_password">

        <label for="password">New Password</label>
        <input type="password" placeholder="Enter new password" name="new_password">

       <label for="password">Confirm Password</label>
        <input type="password" placeholder="Enter confirm password" name="confirm_password">

          <button type="submit">Submit</button>
        <button><a href="{% url 'homepage' %}">Cancel</a></button>
    </form>
{% endblock body %}